<div class="main_view">
    
    <h1 class="main_header">{{_componentName}}</h1>
    <hr>
    <markdown-to-html *ngIf="_isMarkDownPath" [src]="_overviewMarkDownPath"></markdown-to-html>
    <div *ngIf="_hideExample == false">
        <span class="h4" id="example">Example</span>
        <div class="example_container">
            <div #viewChildTarget></div>
        </div>
    </div>
    
    <div class="code_container" *ngIf="_hideExample == false">
        <div id="htmlcode" class="code_header">
            <span class="h4">Html</span>
            <terra-button
                class="copy_to_clip_button"
                (click)="copyText(_htmlCode)"
                inputIcon="icon-copy_clipboard">
            </terra-button>
        </div>
        <div>
            <section class="code_section" [innerHTML]="_htmlHighlight" highlight-js-content=".highlight"></section>
        </div>
        
        <div id="scsscode" class="code_header">
            <span class="h4">Scss</span>
            <terra-button
                class="copy_to_clip_button"
                (click)="copyText(_cssCode)"
                inputIcon="icon-copy_clipboard">
            </terra-button>
        </div>
        
        <div>
            <section class="code_section" [innerHTML]="_cssHighlight" highlight-js-content=".highlight"></section>
        </div>
        
        <div class="code_header">
            <span class="h4" id="typescriptcode">Typescript</span>
            <terra-button
                class="copy_to_clip_button"
                (click)="copyText(_typescriptCode)"
                inputIcon="icon-copy_clipboard">
            </terra-button>
        </div>
        
        <div>
            <section class="code_section" [innerHTML]="_tsHighlight" highlight-js-content=".highlight"></section>
        </div>
    </div>
    
    <span class="h4" id="api">API</span>
    <div class="api_container">
        <div [innerHTML]="_apiHtml"></div>
    </div>
    <terra-alert-panel class="copyAlert"></terra-alert-panel>
</div>



