<div class="sidebar">
    <div>
        <p class="h4">components<span [class.icon-move_up]="_showListValue === true"
                                      [class.icon-move_down]="_showListValue === false"
                                      (click)="showList()"></span></p>
        <ul class="component_list" [class.show_button]="_showListValue === false">
            
            <li *ngFor="let componentList of _routeResolver.dataJson" routerLink="/{{componentList.name}}"
                routerLinkActive="is-active">
                <a>{{componentList.name}}</a>
            </li>
            
        </ul>
        <p class="h4">icons</p>
        <ul class="component_list">
            <li routerLink="iconview">
                <a>examples</a>
            </li>
        </ul>
    </div>
</div>