

.sidebar
{
    float: right;
    width: 250px;
    background-color: white;
}
.icon-move_up
{
    &:hover
    {
        cursor: pointer;
    }
}
.icon-move_down
{
    &:hover
    {
        cursor: pointer;
    }
}
.show_button
{
    display: none;
}

.component_list
{
    list-style: none;
    padding: 0;
    margin: 0;
    height: 100%;
    
    li
    {
        font-weight: normal;
        padding: 5px 20px 5px 20px;
        &:focus
        {
            outline: none;
        }
        &:hover
        {
            cursor: pointer;
            a
            {
                color: #008EBD;
                cursor: pointer;
            }
        }
        a
        {
            text-decoration: none;
            color: #555555;
            font-size: 15px;
        }
    }
    li.is-active a
    {
        color: #008EBD !important;
    }
}
