.sidebar_wrapper
{
    height: 100%;
    width: inherit;
    overflow: hidden !important;
}

.sidebar
{
    height: 100%;
    width: inherit;
    display: block;
    overflow-y: scroll;
    font-family: 'Roboto', sans-serif !important;
    top: 0;
    right: 0;
    position: fixed;
    background-color: transparent;
    .h4
    {
        margin-top: 20px;
        color: #4D4E53;
    }
}

.icon_list
{
    list-style: none;
    padding: 0;
    margin: 0;
    li
    {
        height: 30px;
        font-size: 15px;
        font-weight: normal;
        padding: 5px 20px 5px 20px;
        white-space: nowrap;
        .icon-name
        {
            display: inline-block;
            vertical-align: middle;
            font-family: inherit !important;
            max-width: 180px;
            text-overflow: ellipsis;
            overflow: hidden;
        }
        .icon
        {
            vertical-align: middle;
            display: inline-block;
        }
        &:focus
        {
            outline: none;
        }
        &:hover
        {
            cursor: pointer;
            .icon
            {
                margin-left: -10px;
                font-size: 25px;
            }
        }
        a
        {
            text-transform: capitalize;
            text-decoration: none;
        }
    }
}
.sidebar_wrapper
{
    margin-bottom: 20px;
}
