.sidebar
{
    top: 0;
    right: 0;
    position: fixed;
    overflow-y: scroll;
    height: 100%;
    background-color: transparent;
    width: inherit;
    .h4
    {
        margin-top: 20px;
        color: #4D4E53;
    }
    a
    {
        text-decoration: none;
        &:hover
        {
            cursor: pointer;
            color: #008EBD;
        }
    }
}
