.sidebar
{
    font-family: 'Roboto', sans-serif !important;
    .h4
    {
        margin-left: 20px;
        margin-top: 50px;
        color: #4D4E53;
    }
}

.icon_list
{
    list-style: none;
    padding: 0;
    margin: 0;
    li
    {
        font-size: 15px;
        font-weight: normal;
        padding: 5px 20px 5px 20px;
        .icon-name
        {
            display: inline-block;
            vertical-align: middle;
            font-family: inherit !important;
        }
        .icon
        {
            vertical-align: middle;
            display: inline-block;
        }
        &:focus
        {
            outline: none;
        }
        &:hover
        {
            cursor: pointer;
            .icon
            {
                margin-left: -10px;
                font-size: 25px;
            }
        }
    }
}
