.icon-container
{
    font-family: 'Roboto', sans-serif !important;
    margin-left: 10%;
    margin-right: 10%;
    width: 50%;
    display: grid;
    padding: 20px 0 0 20px;
    .icon-portlet
    {
        width: 40%;
        
    }
    .icon-name
    {
        font-size: 24px !important;
        font-family: 'Roboto', sans-serif !important;
        color: rgb(77, 78, 83);
    }
    .icon-list
    {
        margin-bottom: 20px;
    }
    .icon-description
    {
        color: rgb(77, 78, 83);
        font-size: 24px !important;
        font-family: 'Roboto', sans-serif !important;
    }
    .icon
    {
        vertical-align: middle;
        display: inline-block;
        font-size: 35px;
        padding-right: 10px;
    }
    table
    {
        vertical-align: middle;
        display: inline-block;
    }
    
}

.green
{
    color: #4CAD33;
}

.blackblue
{
    color: #354763;
}

.blue
{
    color: #008EBD;
}

.grey
{
    color: #707173;
}

.lightgrey
{
    color: #C7C7C7;
}

.orange
{
    color: #FFA100;
}

.purple
{
    color: #870E6D;
}

.red
{
    color: #D4021D;
}

.yellow
{
    color: #FFCE36;
}

.darkred
{
    color: #910000;
}

.darkgreen
{
    color: #066011;
}

.darkblue
{
    color: #354763;
}