<div class="container">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="icon-container">
                <div class="icon-search-container">
                    <terra-portlet inputPortletHeader="Search icons">
                        <terra-text-input [(ngModel)]="inputSearchValue"
                                          (ngModelChange)="validateSearch()"
                                          inputName="search">
                        </terra-text-input>
                        <div class="icon-search-result-container">
                            <span class="icon-search-result-counter"></span>
                            <span class="icon-search-result-text"></span>
                        </div>
                    </terra-portlet>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div *ngIf="!enableSearch">
                <div *ngFor="let iconItem of iconArray">
                    <icon-item-component [iconInterface]="iconItem">
                    </icon-item-component>
                </div>
            </div>
            <div *ngIf="enableSearch">
                <div *ngFor="let iconItem of iconArray">
                    <icon-item-component
                        *ngIf="searchArray(iconItem.variableName,inputSearchValue)"
                        [iconInterface]="iconItem">
                    </icon-item-component>
                </div>
            </div>
        </div>
    </div>
</div>



