.icon-container
{
    font-family: 'Roboto', sans-serif !important;
    margin-left: 10%;
    margin-right: 10%;
    padding: 0;
    .scroll-fix
    {
        height: 50px;
    }
    .icon-list
    {
        padding: 0;
        li
        {
            font-size: 20px;
            list-style: none;
        }
        .icon-list-example-name
        {
            font-family: 'Roboto', sans-serif !important;
            font-size: 20px;
        }
    }
    .icon-description-container
    {
        padding-top: 5px;
    }
    .icon-description
    {
        color: rgb(77, 78, 83);
        font-size: 18px !important;
        font-family: 'Roboto', sans-serif !important;
        font-style: italic;
    }
    .icon-name
    {
        vertical-align: middle;
        display: inline-block;
        font-size: 22px !important;
        font-family: 'Roboto', sans-serif !important;
        color: rgb(77, 78, 83);
    }
    .icon
    {
        vertical-align: middle;
        display: inline-block;
        font-size: 35px;
        padding-right: 10px;
    }
}


.icon-search-container
{
    margin-top: 50px;
    font-family: 'Roboto', sans-serif !important;
    
    .icon-search-result-container
    {
        margin-top: 10px;
        .icon-search-result-counter
        {
            font-family: 'Roboto', sans-serif !important;
            font-size: 20px;
            font-weight: bold;
            color: black;
        }
        .icon-search-result-text
        {
            font-family: 'Roboto', sans-serif !important;
            font-size: 20px;
        }
       
    }
}



