iconview
{
    .portlet-body
    {
        background-color: #F5F5F5 !important;
    }
    input
    {
            background-color: #F5F5F5 !important;
    }
}

pre
{
    font-size: 100% !important;
}

code
{
    border-radius: 3px !important;
}
