.icon-view
{
    height:100vh;
    overflow-y: scroll;
    @media (max-width: 767.98px)
    {
        overflow: auto;
    }
}
.icon-sidebar
{
    
    @media (max-width: 767.98px)
    {
        display: none;
    }
}