.overview
{
    display: grid;
    .navbar-overview
    {
        ul
        {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            list-style: none;
            padding: 0px;
            margin: 0px;
            border-bottom: 1px solid #E0E0E0;
            border-top: 1px solid #E0E0E0;
            li
            {
                cursor: pointer;
                display: inline-block;
                padding: 10px 20px 10px 20px;
                width: 150px;
                text-align: center;
                &:focus
                {
                    outline: none;
                }
                &:hover
                {
                    background-color: #F2F2F2;
                    a
                    {
                        cursor: pointer;
                        color: #008EBD;
                    }
                }
                a
                {
                    text-decoration: none;
                    font-size: 20px;
                    color: #555555;
                }
            }
            li.is-active
            {
                //background-color: #F2F2F2;
                a
                {
                    color: #008EBD !important;
                }
                
            }
        }
    }
}

.content
{
    font-size: 20px;
    height: calc(100vh - 167px );
    overflow-y: scroll;
}
.mainview-footer
{
    height: 50px;
}

.componentName-banner
{
    display: grid;
    width: 100%;
    height: 65px;
    background-color: #FAFAFA;
   
    
    span
    {
        line-height: 65px;
        float: left;
        padding-left: 20px;
        font-size: 20px;
        color: #555555;
        
    }
    
}