.icon-portlet
{
    font-family: 'Roboto', sans-serif !important;
    margin-left: 10%;
    margin-right: 10%;
    padding: 0;
    &:hover
    {
        cursor: pointer;
    }
    .icon-buttons
    {
        padding: 5px 0;
    }
    .icon-list
    {
        padding: 0;
        li
        {
            font-size: 20px;
            list-style: none;
        }
        .icon-list-example-name
        {
            font-family: 'Roboto', sans-serif !important;
            font-size: 20px;
        }
    }
    .icon-display-container
    {
        position: relative;
    }
    .icon-description-container
    {
        padding-top: 5px;
    }
    .icon-description
    {
        color: rgb(77, 78, 83);
        font-size: 18px !important;
        font-family: 'Roboto', sans-serif !important;
        font-style: italic;
    }
    .icon-name
    {
        vertical-align: middle;
        display: inline-block;
        font-size: 22px !important;
        font-family: 'Roboto', sans-serif !important;
        color: rgb(77, 78, 83);
        @media (max-width: 576px)
        {
            max-width: 200px;
            white-space: nowrap;
            overflow: hidden;
            height: 24px;
            text-overflow: ellipsis;
        }
        @media (max-width: 1000px)
        {
            max-width: 300px;
            white-space: nowrap;
            overflow: hidden;
            height: 24px;
            text-overflow: ellipsis;
        }
    }
    .icon-class-label
    {
        @media (max-width: 576px)
        {
          display: none;
        }
    }
    .icon
    {
        vertical-align: middle;
        display: inline-block;
        font-size: 35px;
        padding-right: 10px;
    }
}
h4
{
    font-family: 'Roboto', sans-serif !important;
}
.code-example
{
    margin-bottom: 20px;
}

.code-example
{
    font-size: 20px;
}
.toggle-icon
{
    position: absolute;
    right: 0;
    top: 0;
    font-size: 35px;
    color: #7A7A7A;
}
hr
{
    margin-top: 0;
}
.scroll-fix
{
    height: 50px;
}
