<div class="container-margin">
    <div class="center">
        <h1 class="heading-text">Terra-Components</h1>
    </div>
</div>
<hr>
<div class="content-container">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="center">
                        <img class="card-img-top card-images-style" src="/src/app/assets/images/npm/npm-logo-simplifed-with-white-space.png"
                             alt="Card image cap">
                    </div>
                    <div class="card-block">
                        <h4 class="card-title">Install with npm</h4>
                        <p class="card-text">Check out our npm package use the command line to install.</p>
                        <div class="link-button">
                            <a href="https://www.npmjs.com/package/@plentymarkets/terra-components/tutorial"
                               class="btn btn-primary">Go to npm
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="center">
                        <img class="card-img-top card-images-style" src="/src/app/assets/images/github/GitHub-Mark.png"
                             alt="Card image cap">
                    </div>
                    <div class="card-block">
                        <h4 class="card-title">Download on GitHub</h4>
                        <p class="card-text">Download our terra-components repository form GitHub.</p>
                        <div class="link-button">
                            <a href="https://github.com/plentymarkets/terra-components/tree/beta7_zlk_release"
                               class="btn btn-primary">Go to GitHub
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-margin">
        <div class="center">
            <h2>Create your first backend plugin</h2>
        </div>
        <div class="center">
            <a class="btn btn-primary" href="#">
                Get started
            </a>
        </div>
    </div>
    <div class="container-margin">
        <div class="card text-center" style="width: 100%">
            <div class="card-header">
                <h4>Changelog</h4>
            </div>
            <div class="card-block">
                <h6>Updated:</h6>
                <a  *ngFor="let item of _changelogData['new-release-changelog']"
                    routerLink="{{item['component-name']}}" class="btn btn-link">
                    {{item['component-name']}}
                </a>
                <h6>New:</h6>
                <a  *ngFor="let item of _changelogData['changelog']"
                    routerLink="{{item['component-name']}}" class="btn btn-link">
                    {{item['component-name']}}
                </a>
            </div>
            <div class="card-footer text-muted">
                <span>Released: {{this._changelogData['information']['change-date']}}</span>
                <span style="float: right;">Version: {{this._changelogData['information']['terra-components-version']}}</span>
            </div>
        </div>
    </div>
</div>