<div class="container-margin">
    <div class="center">
        <h1 class="heading-text">Terra-Components</h1>
    </div>
</div>
<hr>
<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-4">
            <div class="card">
                <div class="center">
                    <img class="card-img-top card-images-style" src="{{npmImagePath}}"
                         alt="npm">
                </div>
                <div class="card-block">
                    <h4 class="card-title">Install with npm</h4>
                    <p class="card-text">Check out the npm package.</p>
                    <div class="center link-button">
                        <a href="https://www.npmjs.com/package/@plentymarkets/terra-components"
                           class="btn btn-primary"
                           target="_blank">Go to npm
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="center">
                    <img class="card-img-top card-images-style" src="{{gitImagePath}}"
                         alt="github">
                </div>
                <div class="card-block">
                    <h4 class="card-title">Download on GitHub</h4>
                    <p class="card-text">Download the repository form GitHub.</p>
                    <div class="center link-button">
                        <a href="https://github.com/plentymarkets/terra-components"
                           class="btn btn-primary"
                           target="_blank">Go to GitHub
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row container-spacer">
        <div class="col-md-2"></div>
        <div class="col-md-8 center">
            <img class="monitor-image" src="{{projectPath}}components-startpage-monitor.svg">
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <div class="text-container">
                <h4 class="get-started-text">Create your first backend plugin</h4>
                <a class="btn btn-primary btn-lg"
                   href="https://developers.plentymarkets.com/tutorials/angular-plugin"
                   target="_blank">
                    Get started
                </a>
            </div>
        </div>
    </div>
</div>