startpage
{
    color: #4D4E53;
}

.card-images-style
{
    height:15vh;
    margin-top: 20px;
}
.link-button
{
    padding-top: 20px;
}

.container-spacer
{
    margin-top: 20px;
}
.card-block
{
    text-align: center;
}
.text-container
{
    text-align: center;
}
.monitor-image
{
    height: 25vh;
}
.get-started-text
{
    margin: 17px 0;
}
.text-header
{
    font-size: var(--font-size-8);
}
.card-container
{
    padding:10px;
}
