.code_example
{
    font-size: 15px !important;
}
.angular_example
{
    margin: 20px 0 20px 0;
}
.icon-list
{
    padding: 0;
    li
    {
        font-size: 20px;
        list-style: none;
    }
    .icon-list-example-name
    {
        font-family: 'Roboto', sans-serif !important;
        font-size: 20px;
    }
}