<div class="overview">
    <div class="componentName-banner">
        <span>{{componentName}}</span>
    </div>
    <div class="navbar-overview">
        <ul>
            <li routerLink="overview" routerLinkActive="is-active">
                <a>Overview</a>
            </li>
            <li routerLink="api" routerLinkActive="is-active">
                <a>API</a>
            </li>
            <li routerLink="example" routerLinkActive="is-active">
                <a>Example</a>
            </li>
            <li routerLink="iconview" routerLinkActive="is-active">
                <a>Icons</a>
            </li>
        </ul>
    </div>
    <div class="content">
        <router-outlet></router-outlet>
    </div>
</div>
