<div id="content">
    <div id="banner">
        <h1>{{_componentName}}</h1>
        <!--<terra-button class='button' inputCaption='show code' inputIsPrimary="true" (click)='showCodeMenu()'></terra-button>-->
        <button class="button" (click)='showCodeMenu()'><></button>
    </div>
    <div id="codeContainer" [class.active]="_isActive === true">
        <div id="tabMenu">
            <button [class.activeButton]="_temp === _htmlHighlight " (click)="showCode('Html')">HTML</button>
            <button [class.activeButton]="_temp === _cssHighlight " (click)="showCode('Css')">CSS</button>
            <button [class.activeButton]="_temp === _tsHighlight " (click)="showCode('Typescript')">TS</button>
        </div>
        <div id="codeBlock">
            <div [class.active]="_temp === _htmlHighlight">
                <section  [innerHTML]="_htmlHighlight" highlight-js-content=".highlight"></section>
            </div>
            <div [class.active]="_temp === _cssHighlight">
                <section  [innerHTML]="_cssHighlight" highlight-js-content=".highlight"></section>
            </div>
    
            <div [class.active]="_temp === _tsHighlight">
                <section  [innerHTML]="_tsHighlight" highlight-js-content=".highlight"></section>
            </div>
        </div>
    </div>
    <div #viewChildTarget class="htmlExample"></div>
</div>