.main_view
{
    margin-left: 200px;
    margin-right: 100px;
    width:60%;
    .main_header
    {
        margin-top: 20px;
    }
    ::-webkit-scrollbar
    {
        background-color: #2B2B2B;
        width: 10px;
    }
    ::-webkit-scrollbar-thumb
    {
        background: #C1C1C1;
        border-radius: 5px;
    }
    
    .example_container
    {
        padding: 20px;
        margin-bottom: 20px;
        background-color: #F3F3F3;
        min-height: 100px;
    }
    .markdown_container
    {
    }
    .description_container
    {
        margin-bottom: 50px;
        .anchor_links
        {
            float: left;
            margin-right: 50px;
        }
    }
    .code_container
    {
        .code_header
        {
            .copy_to_clip_button
            {
                float: right;
                margin-right: 5px;
                line-height: 45px;
            }
            .h4
            {
                line-height: 45px;
                margin-left: 5px;
                margin-bottom: 0;
            }
            background-color: #F3F3F3;
            height: 45px;
        }
        .code_section
        {
            font-size: 20px;
            margin-bottom: 30px;
            max-height: 400px;
            overflow-y: scroll;
           
        }
    }
    .api_container
    {
    
    }
    
}
