@import '../node_modules/@plentymarkets/terra-components/app/assets/styles/icons.glob.scss';
@import 'index.glob.zlk.scss';

p
{
    margin: 0;
}
.code_section
{
    pre
    {
        font-size: inherit !important;
        margin: 0;
    }
}
.codeTag
{
    color:#008EBD;
}
.deprecated-first-tag
{
    color: red;
}
.method_container
{
    font-size: inherit;
    background-color: #e3e3e3;
    padding: 10px;
    border-radius: 0;
    border: 1px solid #ccc;
}
.docs-api-properties-table
{
    td
    {
        //color: #4d4e53;
    }
}
.docs-api-deprecated-marker
{
    color: red;
}
.docs-api-deprecated-marker-container
{
    margin-top: 5px;
}
.method_description_table
{
    margin-top: 20px;
    margin-bottom: 5px;
}
.docs-api-method-parameter-type
{
    width: 300px;
}
.api-class-headers
{
    margin-bottom: 20px;
}
.docs-api-method-description-cell
{
    p
    {
        padding-top:  5px;
    }
}
