
.sidebar
{
    top: 0;
    right: 0;
    position: fixed;
    overflow-y: scroll;
    height: 100%;
    background-color: transparent;
    width: inherit;
    .h4
    {
        margin-top: 20px;
        color: #4D4E53;
    }
    a
    {
        text-decoration: none;
        &:hover
        {
            cursor: pointer;
            color: #008EBD;
        }
    }
}

.icon-move_up
{
    &:hover
    {
        cursor: pointer;
    }
}

.icon-move_down
{
    &:hover
    {
        cursor: pointer;
    }
}

.show_button
{
    display: none;
}

.nav-ul
{
    //padding-left: 0 !important;
    display: none;
    li
    {
        list-style: none;
    }
}

.add-border-left
{
    border-left: 2px solid #008EBE;
}

.icon_list
{
    .group-name
    {
        font-size: 15px;
        text-transform: capitalize;
        padding-left: 20px;
        color: #4D4E53;
        font-weight: 500;
    }
    list-style: none;
    padding: 0;
    margin: 0;
    
    li
    {
        font-weight: normal;
        padding: 5px 20px 5px 20px;
        &:focus
        {
            outline: none;
        }
        &:hover
        {
            cursor: pointer;
            a
            {
                color: #008EBD;
                cursor: pointer;
            }
        }
        a
        {
            padding-left: 20px;
            text-transform: capitalize;
            text-decoration: none;
            color: #4D4E53;
            font-size: 14px;
        }
    }
    
    li.is-active
    {
        a
        {
            color: #008EBD !important;
            // border-left: 2px solid #008ebe;
        }
        .nav-ul
        {
            a
            {
                color: #777777 !important;
            }
            display: block;
        }
    }
}
