<div class="sidebar_wrapper">
    <div class="sidebar">
        <p class="h4">Components</p>
        <ul class="component_list" *ngFor="let group of groupArray">
            <span class="group-name">{{group[0]}}</span>
            <li *ngFor="let component of group[1]"
                routerLinkActive="is-active"
                routerLink="{{component.component}}">
                <a>{{component.component}}</a>
                <ul class="nav-ul">
                    <li (click)="scrollToId('example')">Example</li>
                    <li (click)="scrollToId('htmlcode')">Html</li>
                    <li (click)="scrollToId('scsscode')">Scss</li>
                    <li (click)="scrollToId('typescriptcode')">Ts</li>
                    <li (click)="scrollToId('api')">Api</li>
                </ul>
            </li>
        </ul>
    </div>
</div>

