<div class="sidebar_wrapper">
    <div class="sidebar">
        <p class="h4">Components</p>
        <ul class="component_list" *ngFor="let group of groups">
            <div class="group-header">
                <hr>
                <span class="group-name">{{group.name}}</span>
            </div>
            <li *ngFor="let component of group.components"
                [routerLink]="[component.name]"
                routerLinkActive="is-active">
                <a>{{component.name}}</a>
            </li>
        </ul>
    </div>
</div>

