.content
{
    font-size: 15px;
    display: grid;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    .border
    {
        border: 3px solid #fafafa;
        border-top: none;
    }
    .innerContent
    {
        margin: 40px;
    }
    .banner
    {
    
        width: auto;
        min-width: 900px;
        background-color: #F2F2F2;
        height: 48px;
    }
}